body {
    background:
    radial-gradient(circle farthest-side at 0% 50%,#fb1 23.5%,rgba(240,166,17,0) 0)21px 30px,
    radial-gradient(circle farthest-side at 0% 50%,#B71 24%,rgba(240,166,17,0) 0)19px 30px,
    linear-gradient(#fb1 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#fb1 0)0 0,
    linear-gradient(150deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
    linear-gradient(30deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
    linear-gradient(90deg,#B71 2%,#fb1 0,#fb1 98%,#B71 0%)0 0 #fb1;
    background-size: 40px 60px;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

#maindiv {
    margin: auto;
    width: 1024px;
    background: #141E30;
    background: -webkit-linear-gradient(-45deg, #35577D, #141E30);
}
.shadow {
    -webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
    -moz-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
    box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
}
figure {
    text-align: center;
}
img {
    width: 25%;
    height: 25%;
    border-radius: 100%;
    border: 1px solid#fb1;
}

figcaption {
    font-family: Helvetica;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    padding-left: 10px;
    text-transform: uppercase;
}

nav {
    padding: 20px 0px;
    width: 100%;
    position: relative;
    text-align: center;
}
nav li {
    background: white;
    border: 1.5px solid#fb1;
    border-radius: 3px;
    display: inline-block;
    margin: 5px;
    padding: 10px;
}
nav li a {
    color: black;
    text-decoration: none;
}
nav li:hover {
    background: #fb1;
    border: 1px solid red;
}
section h2,p {
    margin: auto;
    display: block;
}
h1 {
    padding-top: 50px;
    padding-bottom: 20px;
    width: 100%;
    color: white;
    font-size: 42px;
    font-weight: 700;
    text-align: center;
}
  
h2 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.700);
    color: rgba(255, 255, 255, 0.700);
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    padding-top: 30px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    text-align: left;
    width: 70%;
}

.content {
    margin: 1% 15% 0 15%;
    color: bisque;
    font-size: 17px;
    line-height: 30px;
}

strong {
    font-weight: 600;
}
p {
    
}
footer {
    font-family: "Source Code Pro";
    font-weight: 300;
    margin: 11% 0 0 10px;
    color: #fb1;
}

footer small,
       address{
    display: inline-block;
}

footer a{
    color:#B71;
}